apiVersion: apps/v1
kind: Deployment
metadata:
  name: zoo-event-stats-staging
  labels:
    app: zoo-event-stats-staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zoo-event-stats-staging
  template:
    metadata:
      labels:
        app: zoo-event-stats-staging
    spec:
      containers:
        - name: zoo-event-stats-staging-api
          image: zooniverse/zoo-event-stats:api-__IMAGE_TAG__
          resources:
              requests:
                memory: "100Mi"
                cpu: "20m"
              limits:
                memory: "200Mi"
                cpu: "500m"
          env:
            - name: RACK_ENV
              value: staging
            - name: ZOO_STATS_ENV
              value: staging
          volumeMounts:
            - name: zoo-event-stats-staging-environment
              mountPath: "/run/secrets/environment"
              subPath: "environment"
              readOnly: true
            - name: zoo-event-stats-staging-elasticsearch
              mountPath: "/zoo_stats_config/elasticsearch.yml"
              subPath: "elasticsearch.yml"
              readOnly: true
          startupProbe:
            httpGet:
              path: /
              port: 80
            # wait 3 * 10 seconds(default periodSeconds) for the container to start
            # after this succeeds once the liveness probe takes over
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 80
            # allow a longer response time than 1s
            timeoutSeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 80
            # start checking for readiness after 10s (to serve traffic)
            initialDelaySeconds: 10
            # allow a longer response time than 1s
            timeoutSeconds: 10
          ports:
            - containerPort: 80
        - name: zoo-event-stats-staging-stream
          image: zooniverse/zoo-event-stats:stream-__IMAGE_TAG__
          resources:
              requests:
                memory: "200Mi"
                cpu: "20m"
              limits:
                memory: "300Mi"
                cpu: "500m"
          env:
            - name: RACK_ENV
              value: staging
            - name: ZOO_STATS_ENV
              value: staging
          volumeMounts:
            - name: zoo-event-stats-staging-environment
              mountPath: "/run/secrets/environment"
              subPath: "environment"
              readOnly: true
            - name: zoo-event-stats-staging-elasticsearch
              mountPath: "/zoo_stats_config/elasticsearch.yml"
              subPath: "elasticsearch.yml"
              readOnly: true
      volumes:
        - name: zoo-event-stats-staging-environment
          secret:
            secretName: zoo-event-stats-staging-environment
        - name: zoo-event-stats-staging-elasticsearch
          secret:
            secretName: zoo-event-stats-staging-elasticsearch
---
apiVersion: v1
kind: Service
metadata:
  name: zoo-event-stats-staging
spec:
  selector:
    app: zoo-event-stats-staging
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
