apiVersion: apps/v1
kind: Deployment
metadata:
  name: zoo-event-stats-production-api
  labels:
    app: zoo-event-stats-production-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zoo-event-stats-production-api
  template:
    metadata:
      labels:
        app: zoo-event-stats-production-api
    spec:
      containers:
        - name: zoo-event-stats-production-api
          image: zooniverse/zoo-event-stats:production-api-__IMAGE_TAG__
          resources:
              requests:
                memory: "500Mi"
                cpu: "30m"
              limits:
                memory: "1000Mi"
                cpu: "500m"
          env:
            - name: RACK_ENV
              value: production
            - name: ZOO_STATS_ENV
              value: production
          volumeMounts:
            - name: zoo-event-stats-production-environment
              mountPath: "/run/secrets/environment"
              subPath: "environment"
              readOnly: true
            - name: zoo-event-stats-production-elasticsearch
              mountPath: "/zoo_stats_config/elasticsearch.yml"
              subPath: "elasticsearch.yml"
              readOnly: true
          startupProbe:
            httpGet:
              path: /
              port: 80
            # wait 3 * 10 seconds(default periodSeconds) for the container to start
            # after this succeeds once the liveness probe takes over
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 80
            # allow a longer response time than 1s
            timeoutSeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 80
            # start checking for readiness after 10s (to serve traffic)
            initialDelaySeconds: 10
            # allow a longer response time than 1s
            timeoutSeconds: 10
      volumes:
        - name: zoo-event-stats-production-environment
          secret:
            secretName: zoo-event-stats-production-environment
        - name: zoo-event-stats-production-elasticsearch
          secret:
            secretName: zoo-event-stats-production-elasticsearch
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zoo-event-stats-production-stream
  labels:
    app: zoo-event-stats-production-stream
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: zoo-event-stats-production-stream
  template:
    metadata:
      labels:
        app: zoo-event-stats-production-stream
    spec:
      containers:
        - name: zoo-event-stats-production-stream
          image: zooniverse/zoo-event-stats:production-stream-__IMAGE_TAG__
          resources:
              requests:
                memory: "300Mi"
                cpu: "30m"
              limits:
                memory: "600Mi"
                cpu: "500m"
          env:
            - name: RACK_ENV
              value: production
            - name: ZOO_STATS_ENV
              value: production
          volumeMounts:
            - name: zoo-event-stats-production-environment
              mountPath: "/run/secrets/environment"
              subPath: "environment"
              readOnly: true
            - name: zoo-event-stats-production-elasticsearch
              mountPath: "/zoo_stats_config/elasticsearch.yml"
              subPath: "elasticsearch.yml"
              readOnly: true
      volumes:
        - name: zoo-event-stats-production-environment
          secret:
            secretName: zoo-event-stats-production-environment
        - name: zoo-event-stats-production-elasticsearch
          secret:
            secretName: zoo-event-stats-production-elasticsearch
---
apiVersion: v1
kind: Service
metadata:
  name: zoo-event-stats-production-api
spec:
  selector:
    app: zoo-event-stats-production-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
